////// Reset

html, body {
  margin: 0;
  padding: 0;
  // メインビジュアルを全画面で表示するために幅高さ100%にする
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Hiragino Kaku Gothic ProN, Meiryo, \\30E1\30A4\30EA\30AA, sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  color: #481c31;
}

// ファーストビュー以下は演出が終わるまで隠す
html:not([data-loaded]) {
  overflow: hidden;
  > body > *:not(.tk-cover) {
    display: none;
  }
}

////// Section

.tk-section {
  width: 768px;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.tk-section-title {
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
  margin: 2rem auto 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    width: 48px;
    margin-right: 1rem;
  }

  // 見出し画像があるので少し中心をずらす
  transform: translateX(-12px);
}

////// About Section

.tk-about-section {
  padding-top: 1px;
  position: relative;
  width: 100%;
  color: #fff;
  background: linear-gradient(180deg, #f7acba, #ffe6b0);
  box-sizing: border-box;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#fff 13%, transparent 13%),
    radial-gradient(#fff 13%, transparent 13%);
    background-position: 0 0, 30px 30px;
    opacity: 0.4;
    background-size: 60px 60px;
  }
}

.tk-about-section-title {
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Helvetica Neue, Hiragino Kaku Gothic ProN, Meiryo, \\30E1\30A4\30EA\30AA, sans-serif;
  margin: 0;
  padding: 2rem 0;
  white-space: nowrap;

  > img {
    width: auto;
    height: 24px;
  }
}

.tk-about-section-message {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 0;
  padding: 0 0 2rem 0;
  white-space: nowrap;
}

////// Member Section

.tk-member-section {
  @extend .tk-section;
  width: 100%;
  padding-top: 1rem;
  background-color: #f7fdff;
  overflow: hidden;
}

.tk-member-list {
  width: 840px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  font-size: 1rem;
}

.tk-member-list-item {
  min-width: calc(100% / 3);
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 1;
  position: relative;

  &[data-role="starter"] .tk-member-list-item_icon-wrapper {
    &:after {
      content: "主催";
      position: absolute;
      top: 0;
      right: 0;
      background-color: #e73434;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      font-weight: bold;
      color: #fff;
      padding: 0.5rem;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border-radius: 20px;
    }
  }
}

.tk-member-list-item_name {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 0.5rem auto;
}

.tk-member-list-item_icon-wrapper {
  position: relative;
}

.tk-member-list-item_icon {
  width: 128px;
  height: 128px;
  border-radius: 64px;
  margin: 1rem auto;
  background-color: #d4f0ff;
}

.tk-member-list-item_social {
  display: flex;
  list-style-type: none;
  padding: 0;
}

/////// Badge

.tk-badge {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: #fff;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;

  &[data-type="twitter"] {
    background-color: #1b95e0;
  }
}

//////// Sample Section

.tk-sample-link {
  display: block;
  margin: 0 auto;
  width: 270px;
  padding: 1rem;
  background-color: #faa1b1;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #fa7e8f;
  }
}

.tk-sample-link_title, .tk-sample-link_sub-title {
  display: block;
  color: #fff;
}

.tk-sample-link_title {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 6px;
}

.tk-sample-link_sub-title {
  font-size: 0.8rem;
}

////// Detail Section

.tk-detail-section {
  @extend .tk-section;
  width: 100%;
  padding-top: 1rem;
  background-color: #fff6eb;
  padding-bottom: 1rem;
}

.tk-detail-section-title {
  @extend .tk-section-title;
}

.tk-detail {
  display: flex;
  width: 768px;
  margin: 0 auto;
}

.tk-detail-img-wrapper {
  width: 400px;
  margin-right: 1rem;
}

.tk-detail-spec {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tk-detail-spec-aside {
  padding: 1rem 0;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    width: 64px;
  }
}

.tk-detail-img {
  width: 100%;
  min-height: 476px;
  border: 10px solid #fff;
  box-sizing: border-box;
}

.tk-detail-title {
  display: block;
  text-align: center;
  width: 100%;
  margin: 5rem auto;
  font-size: 2rem;
  font-weight: bold;
}

.tk-detail-spec-table {
  border-spacing: 0.5rem;
  th {
    border-bottom: 3px solid #481c31;
    padding: 0.5rem 2rem;
    white-space: nowrap;
  }
  td {
    border-bottom: 1px solid #481c31;
    padding-left: 1rem;
    margin-bottom: 2px;
  }
}

////// Credit Section

.tk-credit {
  padding: 3rem 0;
  text-align: center;
  background-color: #fff6eb;
}

.tk-credit-name {
  display: inline-block;
  padding: 0.4rem 0;
  border: 1px solid #496c3c;
  color: #496c3c;
  border-radius: 3px;
  font-size: 0.8rem;
  width: 200px;
}

////// Social Section

.tk-social {
  position: relative;
  padding: 1.5rem 0;
  text-align: center;
  background-color: #fff6eb;
}

////// Footer Section

.tk-footer {
  padding: 3rem 1rem;
  background-color: #faa1b1;
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
}

//////// Cover

.tk-cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tk-cover[data-loaded] {
  .tk-cover-image-wrapper {
    display: block;
    // ロード画面からメインビジュアルがフェード
    animation: tk-cover-image-fade 2s forwards linear;
  }

  .tk-cover-loading {
    display: none;
  }
}

@keyframes tk-cover-image-fade {
  0% {
    filter: blur(15px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.tk-cover-image-wrapper {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  //background-image: url("../img/visual.jpg");
  background-size: cover;
  background-position: center -300px;
  background-repeat: no-repeat;
  transform: translate3d(0, 0, 0);
}

// ブラウザの横幅が広い場合画像を拡大せずグラデーションを追加
@media only screen and (min-width: 1201px) {
  .tk-cover-image-wrapper {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 5vw;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 5vw;
      height: 100%;
      background: linear-gradient(to left, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
    }
  }
}

.tk-cover-social {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

//////// Yuge

.tk-cover-yuges {
  transition: opacity 3s linear;
}

.tk-cover-yuge-bg1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.tk-cover-yuge-bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  animation: yuge1 11s infinite linear;
}

.tk-cover-yuge-bg3 {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  animation: yuge2 11s infinite linear 5s;
}

@media screen and (min-width: 768px) {
  .tk-cover-yuge-bg, .tk-cover-yuge-bg2, .tk-cover-yuge-bg3 {
    max-height: 300px;
  }
}

@keyframes yuge1 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0.3;
  }
  55% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    transform: translate(0, -250px) scale(1.2, 1.4);
    opacity: 0;
  }
}

@keyframes yuge2 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0.3;
  }
  55% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-150px) scale(1.2, 1.2);
    opacity: 0;
  }
}

.tk-cover-image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: opacity, filter;
  opacity: 1;
  object-fit: cover;
}

.tk-cover-title {
  width: 100%;
  position: absolute;
  bottom: 10%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

  img {
    width: 320px;
  }
}

.tk-cover-title_aside {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  opacity: 0.7;
}

///// ローディング

.tk-cover-loading_image {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  margin-bottom: 3rem;

  svg > path, svg > circle {
    fill: #481c31;
  }
}

.tk-cover-loading_image_effect {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
}


@mixin tk-effect-scale($animation-name) {
  animation: #{$animation-name} 0.8s forwards infinite ease;
  animation-delay: 100ms;
  @keyframes #{$animation-name} {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    80% {
      transform: scale(1);
    }
    81% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
}

.star {
  position: absolute;
  width: 15px;
  height: 15px;
  transform: translate(-7.5px, 0);

  > svg {
    @include tk-effect-scale("scale");
  }
}

//////////// Responsive

@media screen and (max-width: 769px) {

  .tk-cover-image-wrapper {
    background-position: center 0;
  }

  .tk-cover-title img {
    width: 156px;
  }

  .tk-cover-title_aside {
    font-size: 0.7rem;
  }

  .tk-about-section-title {
    font-size: 1.5rem;
  }

  .tk-about-section-message {
    font-size: 1rem;
  }

  .tk-section {
    width: 100%;
  }

  .tk-member-list {
    width: 100%;
  }

  .tk-member-list-item {
    width: calc(100% / 2);
  }

  .tk-detail-img-wrapper, .tk-detail, .tk-detail-spec {
    width: 100%;
    display: block;
  }

  .tk-detail-img-wrapper {
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    max-width: 400px;
    min-height: 400px;
    margin: 0 auto;
  }

  .tk-detail-title {
    margin: 1rem 0;
  }

  .tk-detail-spec-table {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;

    th {
      padding: 0.2rem 1.5rem;
      white-space: nowrap;
    }
  }

  .tk-detail-spec-aside {
    margin-top: 2rem;
    padding-bottom: 0;
  }

  .tk-thumbs-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: calc(128 * 2px + 2rem);
    box-sizing: border-box;

    > div {
      box-sizing: border-box;
      width: 128px;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
      padding-right: 0;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  .tk-cover-image-wrapper {
    background-position: center -250px;
  }
}

@media screen and (max-width: 320px) {
  .tk-cover-title_aside {
    font-size: 0.7rem;
  }

  .tk-about-section-title {
    font-size: 1.2rem;
  }

  .tk-about-section-message {
    font-size: 0.8rem;
  }

}

// Tumblrの枠対策
.tmblr-iframe,
.tmblr-iframe--mobile-loggedin-controls,
.iframe-controls--phone-mobile {
  display: none !important;
}
.tmblr-iframe--controls-phone-container,
.tmblr-iframe-pushdown {
  padding-top: 0 !important;
}
